<label class="btn btn-primary <%= active ? 'active' : '' %>" id="<%= custom_field_type %>_option" >
  <input type="radio" name="options" autocomplete="off" checked>
  <%= CustomField::type_description(custom_field_type) %>
</label>
