<% if read_only %>
  <div class='col-sm-8'>
    <p class="form-control-static"><%= CustomField::type_description(type) %></p>
  </div>
<% else %>
  <div class="btn-group col-sm-8" data-toggle="buttons">
    <%= render 'custom_field_type_button', custom_field_type: TextCustomField.name, active: type == TextCustomField.name %>
    <%= render 'custom_field_type_button', custom_field_type: TextAreaCustomField.name, active: type == TextAreaCustomField.name %>
    <%= render 'custom_field_type_button', custom_field_type: DropDownCustomField.name, active: type == DropDownCustomField.name %>
  </div>
<% end %>
