<% if read_only %>
  <div class='col-sm-8'>
    <p class="form-control-static"><%= custom_field_type_description(type) %></p>
  </div>
<% else %>
  <div class="btn-group col-sm-8" data-toggle="buttons">
    <%= render 'custom_field_type_button', custom_field_type: 'TextCustomField', active: type == 'TextCustomField' %>
    <%= render 'custom_field_type_button', custom_field_type: 'TextAreaCustomField', active: type == 'TextAreaCustomField' %>
    <%= render 'custom_field_type_button', custom_field_type: 'DropDownCustomField', active: type == 'DropDownCustomField' %>
  </div>
<% end %>
