<fieldset>
  <div class="input-group">
    <%= f.text_field :value, class: 'form-control col-xs-3', placeholder: 'Drop down value' %>
    <span class="input-group-btn">
      <%= link_to_remove_fields f, "Remove" %>
    </span>
  </div>
  <!-- /input-group -->
</fieldset>
