<div class="center jumbotron">
  <h1>Custom Field Editor</h1>
  <p>Sample Rails app that demonstrates dynamically adding fields to a form and user authentication</p>
  <br />
  <%= link_to 'Create account', signup_path, class: 'btn btn-primary btn-lg btn-xlarge' %>
</div>
